<div *ngIf="dialogdetails">
  <div id="" class="">
    <ul class="list-group">
      <li class="list-group-item">
        <input [(ngModel)]="dialogdetails._titre"
               placeholder="{{dialogdetails._titre}}"
               size="{{dialogdetails._titre.length}}">
      </li>
      <li class="list-group-item">
        <textarea [(ngModel)]="dialogdetails._par"
                  placeholder="{{dialogdetails._par}}"
                  cols="100%" rows="5"></textarea>
      </li>
      <li class="list-group-item">
        <textarea [(ngModel)]="dialogdetails._capt"
                  placeholder="{{dialogdetails._capt}}"
                  cols="100%" rows="5"></textarea>
      </li>
      <li>
        <input type="image" value="null">
      </li>
    </ul>
    <button type="submit" class="btn btn-success" style="width: 50%; position: center"
            (click)="UpdateObject()">Update data
    </button>
  </div>
</div>
